{% extends "blog/base.html" %}

{% block content %}
    {% for post in posts %}
      <article class="content-section" style="display: -webkit-box;">
        {%if user == post.author%}
          <a href="{% url 'user_profile'%}?page=1"><img src="{{ post.author.profile.image.url }}" alt="Profile Picture" class="rounded-circle article-img"></a>
        {% else %}
          <a href="{% url 'detail_profile' post.author.id%}"><img src="{{ post.author.profile.image.url }}" alt="Profile Picture" class="rounded-circle article-img"></a>
        {% endif %}
        <div class="media-body form-group">
          <div class="article-metadata">
            {%if user == post.author%}
              <a class="mr-2" href="{%url 'user_profile' %}?page=1">{{ post.author }}</a>
            {% else %}
              <a class="mr-2" href="{%url 'detail_profile' post.author.id %}">{{ post.author }}</a>
            {% endif %}  
            <small class="text-muted">{{ post.date_posted|date:"d, M, Y "  }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'post_detail' post.id%}">{{ post.title }}</a></h2>
          {%if post.content|length > 30 %}
            <p class="article-content">{{post.content|truncatechars:50 }}</p>
          {%else%}
            <p class="article-content">{{post.content}}</p>
          {%endif%}

          <!-- COMENTS -->
          {% if post.comments.all.count != 0  %}
            <a href="{% url 'post_detail' post.id %}">see {{post.comments.all.count}} comment </a>
          {% else %}
            <p> No comments. <a href="{% url 'post_detail' post.id %}">Add One.</a></p>
          {% endif %}
        </div>
      </article>
    {% endfor %}

    <!-- PAGINATION -->
    {% if is_paginated %}     
        {% if page_obj.has_previous %}
          <a href="?page=1" class='btn btn-outline-info mb-4'><<</a>
          <a href="?page={{ page_obj.previous_page_number }}" class='btn btn-outline-info mb-4' ><</a>
        {% endif %} 
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a href="?page={{num}}" class='btn btn-info mb-4' >{{num}}</a>
          {% elif page_obj.number|add:'3' > num and  page_obj.number|add:'-3' < num  %}
            <a href="?page={{num}}" class='btn btn-outline-info mb-4' >{{num}}</a>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class='btn btn-outline-info mb-4' >></a>
          <a href="?page={{page_obj.paginator.num_pages}}" class='btn btn-outline-info mb-4' >>></a>
        {% endif %}
      
    {% endif %}
{% endblock content %}

{% block side_content %}
  {%if users%}
    <div class="content-section">
      <h3 class="article-title">Other Users</h3>
      <p class='text-muted'>
        <ul class="list-group" >
          {% for userr in users%}
            <div class="user-list-group-item">

            {%if userr != user%}
              <a href="{% url 'detail_profile' userr.id  %}"><img src="{{userr.profile.image.url}}" class="rounded-circle user-list-img" alt="profile picture"></a>
              <a class="user-list-group-item-title" href="{% url 'detail_profile' userr.id  %}">{{userr}}</a>
            {%endif%}
            </div>
          {%endfor%}
        </ul>
      </p>
    </div>
  {%endif%}
{% endblock side_content %}