{% extends "blog/base.html" %}
{% block content%}
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group" >
        <legend class="border-bottom mb-4">Delete Post</legend>
        <h2>Are you sure, you want to delete  "{{object.title}}"?</h2>  
        <div class="form-group" style="position: relative;float: right;">
          <a href="{% url 'post_detail' post.id %}" class="btn button">Cancel</a>
          <button type="submit" class="btn btn-outline-danger">Delete</button>
        </div>
      </fieldset>
    </form>
  </div>  
{% endblock %}  