{% extends "blog/base.html" %}

  {% block content %}
  <article class="content-section" style="display: -webkit-box;">
    <a href="{% url 'detail_profile' post.author.id %}"> 
      <img src="{{ post.author.profile.image.url }}" alt="Profile Picture" class="rounded-circle article-img">
    </a>    
      <div class="media-body form-group">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'detail_profile' post.author.id %}">{{ post.author }}</a>
          <small class="text-muted">{{ post.date_posted|date:"d, M, Y "  }}</small>
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
        {%if object.author.id == user.id %}
          <div class="form-group" style="position: relative;float: right;">
            <a class="btn button" href="{% url 'post_update' object.id %}" >Update Note</a>
            <a class="btn btn-outline-danger" href="{% url 'post_delete' object.id %}" >Delete Note</a>
          </div>
        {% endif %}
     </div>     
  </article>
  <h1>Comments({{post.comments.all.count}})</h1>
  {% if post.comments.all.count != 0  %}
    <ul class="list-group">
      {% for comment in post.comments.all %}
        <div class="comment" style="display: -webkit-box">
          <a href="{% url 'detail_profile' comment.author.id %}">
            <img src="{{comment.author.profile.image.url}}" class="rounded-circle comment-child comment-user-img" alt="profile picture">
          </a>
          <div class="media-body form-group">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'detail_profile' comment.author.id %}">{{ comment.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"d, M, Y "  }}</small>
            </div>  
              <p class="comment-child">{{comment.content}}</p>
          </div>  
        </div>  
      {% endfor %}
    </ul>
  {% else %}
    <p> No comments yet</p>
  {% endif %}
  <form method="POST" action="{%url 'post_detail' post.id%}" >
    {% csrf_token %}
    {{form}}</br>
    <button type="submit" class="btn button">Add Comment</button>
  </form>
{% endblock %}